photo-list {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  li {
    position: absolute;
    top: 0;
    left: 75px;
    transform: translateX(-700px);
    backface-visibility: hidden;
    perspective: 1000;
    &:nth-child(2n) {
      left: auto;
      right: 75px;
      transform: translateX(700px);
    }
  }
  figure {
    background: #e9ebed;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 100px 10px;
    position: relative;
    img {
      max-width: 100%;
      min-width: 100%;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 25px;
      font: 30px/59px 'WOFF Sephora Sans BETA-Bold', sans-serif;
    }
  }
}
