/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
@import "../../bower_components/meyer-reset/stylesheets/_meyer-reset";

@font-face { font-family: 'WOFF Sephora Sans BETA-Light'; src: url('../fonts/SephoraSansBETA-Light.woff'); }
@font-face { font-family: 'WOFF Sephora Sans BETA-Book'; src: url('../fonts/SephoraSansBETA-Book.woff'); }
@font-face { font-family: 'WOFF Sephora Sans BETA-Medium'; src: url('../fonts/SephoraSansBETA-Medium.woff'); }
@font-face { font-family: 'WOFF Sephora Sans BETA-Bold'; src: url('../fonts/SephoraSansBETA-Bold.woff'); }
@font-face { font-family: 'WOFF2 Sephora Sans BETA-Light'; src: url('../fonts/SephoraSansBETA-Light.woff2'); }
@font-face { font-family: 'WOFF2 Sephora Sans BETA-Book'; src: url('../fonts/SephoraSansBETA-Book.woff2'); }
@font-face { font-family: 'WOFF2 Sephora Sans BETA-Medium'; src: url('../fonts/SephoraSansBETA-Medium.woff2'); }
@font-face { font-family: 'WOFF2 Sephora Sans BETA-Bold'; src: url('../fonts/SephoraSansBETA-Bold.woff2'); }
@font-face { font-family: 'EOT Sephora Sans BETA-Light'; src: url('../fonts/SephoraSansBETA-Light.eot'); }
@font-face { font-family: 'EOT Sephora Sans BETA-Book'; src: url('../fonts/SephoraSansBETA-Book.eot'); }
@font-face { font-family: 'EOT Sephora Sans BETA-Medium'; src: url('../fonts/SephoraSansBETA-Medium.eot'); }
@font-face { font-family: 'EOT Sephora Sans BETA-Bold'; src: url('../fonts/SephoraSansBETA-Bold.eot'); }

#container {
  background: url("/assets/images/bg.jpg") no-repeat;
  height: 3840px;
  margin: 0 auto;
  width: 1080px;
  position: relative;
  overflow: hidden;
  background-size: 1080px 3840px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
