featured-photos {
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 75px;
    transform: translateX(-2000px);
    backface-visibility: hidden;
    perspective: 1000;
  }
  figure {
    background: #f6f6f6;
    box-shadow: 0px 30px 70px 30px rgba(0,0,0,0.2);
    padding: 10px 10px 100px 10px;
    position: relative;
    img {
      max-width: 100%;
      min-width: 100%;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 25px;
      font: 30px/59px 'WOFF Sephora Sans BETA-Light', sans-serif;
    }
  }
}
